.absolute-center {
  @include absolute-center;
}

.absolute-cover {
  @include  absolute-cover;
}

.button,
input[type="submit"] {
  position: relative;
  display: inline-block;
  line-height: 1;
  border: none;
  padding: 1rem 3rem;
  background-color: $accent-colour;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  > span {
    transition: $animate;
  }
  &:hover {
    > span:first-child {
      display: block;
      margin-left: -.5rem;
      padding-right: .5rem;
    }
    .icon {
      opacity: 1;
      right: .5rem;
    }
  }
  .icon {
    left: auto;
    right: 0;
    opacity: 0;
  }
}

.horizontal {
  display: flex;
  li + li {
    margin-right: 1em;
  }
}

.square {
  width: $small-square;
  height: $small-square;
}

.page-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  &.from-bottom {
    z-index: 10;
    animation: from-bottom .3s ease-out 0s 1 forwards
  }
  &.from-top {
    z-index: 10;
    animation: from-top .3s ease-out 0s 1 forwards
  }
  &.active {
    transform: translateY(0);
  }
  &:after {
    content: '';
    @include absolute-cover;
    pointer-events: none;
    transition: $animate;
  }
  .bg-image {
    height: 100%;
    width: 100%;
    li {
      opacity: 0;
      transition: opacity .3s ease-out;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      &.active {
        opacity: .2;
      }
    }
  }
  .col-2 {
    position: relative;
    z-index: 2;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .button,
  input[type="submit"] {
    padding: 1.25rem 4.5rem;
  }
}
@media (min-width: 1024px) {
  .page-section {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

  }
}

