$white: #FFF;
$black: #000;
$clear: transparent;


$gray-purple: #98849F;
$purple: #300B3E;
$light-purple: #7A2798;
$green: #0F9437;
$light-green: #56AA80;
$yellow:#F8A01A;
$light-yellow: #F8B51A;
$red: #E30513;
$light-red: #EB3945;

$accent-colour: $black;

$body-font: 'Lato', sans-serif;
$heading-font: $body-font;

$animate: all .3s ease-out;

$square: 6.25rem;

$projects: (
  ('natureworks', $green, $light-green),
  ('anboc', $yellow, $light-yellow),
  ('buywood', $red, $light-red)
);
