@each $project in $projects {
  $mainColour: nth($project, 2);
  $lightColour: nth($project, 3);

  .#{nth($project, 1)} {
    #main-menu li {
      background-color: #{nth($project, 2)};
    }
  }
  #projects {
    
    &.#{nth($project, 1)} {
      &.loaded #project-gallery #preview-container:hover li.magnifier {
        background-color: #{nth($project, 2)};
      }
      background-color: $lightColour;
      &:after {
        background: linear-gradient(to right, rgba(0,0,0,0) 0%, $mainColour 70%);
      }
      .button {
        color: $mainColour;
        svg path {
          fill: $mainColour;
        }
      }
      #bar,
      #logo {
        background-color: $mainColour;
      }
      
      #progress-bar-container,
      #arrows li {
        background-color: $lightColour;
      }
    }
  }
} 

.landing,
.map {
  #main-menu li {
    background-color: $light-purple;
  }
}


