form.wpcf7-form {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -.75rem;
}
.input-container {
  padding: 0 .75rem;
  position: relative;
  margin-top: 2rem;
  color: $white;
  max-width: 50%;
  &.active label{
    font-size: .8rem;
    top: .25rem;
    left: .5rem;
    transform: translateY(0);
  }
  label {
    position: absolute;
    top: 50%;
    left: 2rem;
    z-index: 2;
    transform: translateY(-50%);
    transition: $animate;
  }
  span {
    display: block;
    background: $gray-purple;
  }
  input {
    padding: 1.5rem 2rem .5rem 2rem;
    background-color: $clear;
    border: none;
    width: 100%;
  }
}

.toggle {
  position: relative;
  padding: .75rem 1.25rem;
  background-color: $gray-purple;
  display: inline-block;
  border-radius: 100px;
  margin: 0 1rem;
  transform: translateX(12.5%);
  cursor: pointer;
  transition: $animate;
  &.active {
    transform: translateX(12.5%);
    &:after {
      left: 100%;
      transform: translate(-75%, -50%);
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-25%, -50%);
    padding: .75rem;
    border: 1px solid $white;
    border-radius: 50%;
    background-color: $light-purple;
    transition: $animate;
  }
}

