nav#main-menu {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  ul {
    display: grid;
    grid-template-columns: $square $square;
  }
  li {
    position: relative;
    min-width: $square;
    height: $square;
    color: $white;
    grid-column-start: 1;
    transition: $animate;
    overflow: hidden;
    &:hover {
      .icon svg {
        width: 3rem;
        height: 3rem;
      }
    }
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, .2);
      top: 0;
      left: -100%;
    }

    &.logo {
      z-index: 10;
    }

    &.name {
      grid-column-start: 2;
      display:flex;
      flex-direction: column;
      justify-content: center;
      transform: translateX(-100%);
      span {
        line-height: 1.3
      }
    }
   
    .icon svg{
      width: 2.25rem;
      height: 2.25rem;
      transition: $animate;
      > * {
        fill: $white;
        stroke: $white;
        stroke-width: 0;
      }
    }

        
    $start: 3;
    $end: 4;
    @for $i from $start through $end {
      &:nth-child(#{$i}) {
        transform: translateY(-($i - $start + 1) * 100%);
        transition-duration: ($i * .3) + 0s;
        z-index: 10 - $i;
      }
    }

    &.link {
      border-top: 1px solid rgba(255,255,255, .1);
      $directions: in-top in-right in-bottom in-left out-top out-right out-bottom out-left;
      @each $dir in $directions {
        &.#{$dir}:after {
          animation: #{$dir} .3s ease 0s 1 forwards;
        }
      }
    }

    span {
      z-index: 10;
      pointer-events: none;
    }      
  }
  &.expand {
    li {
      transform: translate(0, 0);
    }
  }

  &.landing li,
  &.map li {
    background-color: $light-purple;
  }
}














