#projects {
  padding-bottom: $small-square;
  #project-nav {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(100%);
    transition: $animate;
    z-index: 5;
    #arrows {
      display: flex;
      flex-direction: row-reverse;
      li {
        position: relative;
        border-right: 1px solid rgba($white, .2);
        overflow: hidden;
        cursor: pointer;
        transition: $animate;
        &.disabled {
          cursor: default;
          &:hover:after {
            display: none;
          }
          .icon {
            opacity: 0;
          }
        }
        &.next {
          &:after {
            left: -100%;
            border-left: 2px solid $white;
          }
          &:hover {
            &:after {
              opacity: 1;
              left: 0;
              transition: left .3s ease-out;
            }
            .icon {
              padding-left: .5rem;
            }
          }
        }
        &.prev {
          &:after {
            right: -100%;
            border-right: 2px solid $white;
          }
          &:hover {
            &:after {
              opacity: 1;
              right: 0;
              transition: right .3s ease-out;
            }
            .icon {
              padding-right: .5rem;
            }
          }
        }
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(255,255,255,0.2);
          top: 0;
          opacity: 0;
          transition: left .01s ease-out .3s, right .01s ease-out .3s, opacity .3s ease-out;
        }
        .icon {
          transition: $animate;
          pointer-events: none;
        }
      }
    }
    #progress-bar-container {
      position: relative;
      flex-grow: 1;
      padding: 0 1rem;
      font-weight: 700;
      display: flex;   
      justify-content: space-between;     
      align-items: center;
      transition: $animate;
      .progress-inner {
        position: absolute;
        right: 1rem;
        left: 1rem;
        display: flex;
        align-items: center;
        max-width: 600px;     
        margin-left: auto;   
      }
      #bar {
        width: 100%;
        height: 3px;
        margin: 0 1rem;
        transition: $animate;
        .bar-inner {
          height: 100%;
          width: 33%;
          background-color: $white;
          transition: $animate;
        }
      }
      #current {
        order: -1;
      }
    }
  }
}

#projects.show-nav {
  #project-nav {
    transform: translateY(0);
  }
}


@media (min-width: 768px) {
  #projects {
    padding-bottom: 0;
    #project-nav {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: flex-end;
      opacity: 0;
      transform: translateY(-$med-square);
      transition: transform .3s ease-out .3s, opacity 0s linear .3s;
      #arrows {
        flex-direction: column;
        li {
          width: $med-square;
          height: $med-square;
          border-right: none;
          opacity: 0;
          transform: translateX(100%);
          transition: transform .3s ease-out .7s, background-color .3s ease-out 0s;
          &:first-child {
            border-bottom: 1px solid rgba($white, .2);
            transition: transform .3s ease-out .6s, background-color .3s ease-out 0s;
          }
          &.next:after, &.prev:after {
            border-width: 3px;
          }
        }
      }
      #progress-bar-container {
        height: $med-square;
        opacity: 0;
        #current, #total {
          position: absolute;
          padding-top: 2rem;
        }
        #bar {
          margin: 0 0 0 auto;
        }
        #current {
          left: 0;
        }
        #total {
          right: 0;
        }
      }
    } 
  }

  #projects.show-nav {
    #project-nav {
      opacity: 1;
      #arrows li {
        opacity: 1;
        transform: translateX(0);
      }
      #progress-bar-container {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@media (min-width: 1024px) {
  #projects {
    #project-nav {
      #arrows li {
        width: $med-square;
        height: $med-square;
        &.next:after, &.prev:after {
          border-width: 4px;
        }
      }
      #progress-bar-container {
        height: $med-square;
        .progress-inner {
          left: $med-square;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  #projects {
    #project-nav {
      #arrows li {
        width: $square;
        height: $square;
      }
      #progress-bar-container {
        height: $square;
        .progress-inner {
          left: $square;
        }
      }
    }
  }
}
