#map {
  background-color: $purple;
  &:after {
    background: linear-gradient(to top, rgba(0,0,0,0) 0%, $purple 99%);
  } 

  aside {
    display: none;
    position: relative;
    .marker-toggle {
      position: absolute;
      bottom: 1rem;
      right: 0;
      display: flex;
      align-items: center;
      .icon {
        align-items: flex-start;
      }
      svg {
        width: 2rem;
        height: auto;
      }
    }
  }
  article {
    order: -1;
    padding: $med-square 1rem;
    box-sizing: content-box;
  }
  h1 {
    font-size: 4.8vw;
    line-height: 1.2;
  }
}

@media (min-width: 768px) {
  #map {
    article {
      padding: $med-square $med-square 0 $square;
    }
  }
}

@media (min-width: 1024px) {
  #map {
    &:after {
      background: linear-gradient(to right, rgba(0,0,0,0) 0%, $purple 70%);
    }
    .bg-image {
      max-width: 66.666%;
      li {
        opacity: 1;
        div > img {
          position: relative;
          z-index: 999;
        }
      }
    }
    article {
      max-width: 670px;
      padding: 0 1rem 0 $med-square;
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: 1;
      min-height: 100vh;
    }
    aside {
      display: block;
    }
  }
}

@media (min-width: 1300px) {
  #map {
    article {
      padding-left: $square;
      order: 1;
    }
    h1 {
      text-indent: -2.3rem;
      padding-left: 2.3rem;
    }
    p, .wpcf7  {
      padding-left: 3rem;
    }
  }
}

@media (min-width: 1400px) {
  #map {
    h1 {
      font-size: 4.5rem;
    }
  }
}