

$project-number: 0;
$project-title: .2;
$content-p: .4;
$content-button: .6;
$left-max: .6;

$logo: .4;


#projects {

  #project-number {
    font-size: 6rem;
    max-height: 115px;
    margin-top: $med-square;
    padding-left: 1rem;
    opacity: 0;
    transition: all .3s ease-out $left-max - $project-number + 0s;
  }
  #project-title {
    position: relative;
    display: block;
    margin-left: .75em;
    opacity: 0;
    margin-bottom: 2rem;
    transition: all .3s ease-out $left-max - $project-title + 0s;
  }
  #content-container {
    padding: 0 1rem;
    margin-top: -2rem;
    max-width: 660px;
    p, .button {
      transform: translateX(-2rem);
      opacity: 0;
      transition: all .3s ease-in-out;
    }
    p {
      transition-delay: $left-max - $content-p + 0s
    }
    .button {
      margin-top: 1rem;
      transition-delay: $left-max - $content-button + 0s
    }
  }
  .button {
    background-color: $white;
  }
  aside {
    height: 100vh;
    padding-bottom: $small-square;
  }
  #logo {
    position: absolute;
    top: $med-square;
    right: .5rem;
    width: 20%;
    max-width: 100px;
    display: flex;
    align-items: center;
    .image {
      transform: scale(0);
      transition: all .3s ease-in-out $logo + 0s;
    }
  }
}

#projects.loaded {
  #project-number {
    padding-left: .5rem;
    opacity: .33;
    transition-delay: $project-number + 0s;
  }
  #project-title {
    margin-left: 1em;
    opacity: 1;
    transition-delay: $project-title + 0s;

  }
  #content-container {
    p, .button {
      opacity: 1;
      transform: translateX(0);
    }
    p {
      transition-delay: $content-p + 0s;
    }
    .button {
      transition-delay: $content-button + 0s;
    }
  }
  #logo {
    .image {
      transform: scale(1);
    }
  }
}


@media (min-width: 768px) {
  #projects {
    article {
      padding-left: $med-square;
    }
    #project-number {
      font-size:  6.875rem;
      padding-left: 2.5rem;
    }
    #project-title {
      bottom: -1.5rem;
      margin-left: 4.25rem;
    }
    #content-container {
      max-width: 700px;
      padding: 0 3rem 0 6rem;
      margin-top: -4rem;
    }
    aside {
      padding-bottom: $med-square;
      padding-left: $med-square;
      margin-top: $small-square;
    }
  }

  #projects.loaded {
    #project-number {
      padding-left: 3.5rem;
    }
    #project-title {
      margin-left: 0;
    }
  }
}

@media (min-width: 1024px) {
  #projects {
    #content-container {
      padding-left: $small-square;
      margin-left: auto;
    }
    aside {
      position: relative;
      height: auto;
      min-height: 100vh;
      margin-top: 0;
      padding: $small-square 0 $med-square $med-square;
    }
    #logo {
      top: 0;
      right: 0;
      width: 8rem;
      height: 8rem;
      max-width: none;
      z-index: 15;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      padding: .5rem;
      img {
        margin: 0 auto;
      }
    }

  }
}

@media (min-width: 1440px) {
  #projects {
    &.loaded {
      #project-title {
        margin-left: -.75em;
      }
    }
    article {
      padding-left: $square;
    }
    #project-number {
      margin-top: $square;
    }
    #project-title {
      margin-left: 0;
    }
    #content-container {
      padding-left: 6rem;
    }
    aside {
      padding: $square $med-square $square $square;
    }
    #logo {
      width: 10rem;
      height: 10rem;
      padding: 1rem;
      margin-left: auto;
    }
   
  }
}
